@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


@keyframes drop-S {
    0% {
        top: 0;
    }

    75% {
        top: 90px;

    }

    80% {
        top: 80px;
    }

    100% {
        top: 70px;
    }
}

@keyframes drop-L {
    0% {
        top: 0;
    }

    75% {
        top: 120px;

    }

    80% {
        top: 110px
    }

    100% {
        top: 100px;
    }
}

@keyframes dropid {
    0% {
        top: 0px;
    }

    100% {
        top: 120px;
    }
}

@keyframes dropbtn {
    0% {
        bottom: 100px;
        opacity: 0;
    }
}

/*/////////////PreloaderHome///////////////*/
.PreloaderHome {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}


.PreloaderHome img {
    margin-top: -50px;
    width: 400px;
    height: 400px;
}

.PreloaderHome.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}



/*/////////////Slide///////////////*/
.Slide-box {
    width: 100%;
    height: 650px;
    position: relative;
    background-color: rgba(44, 44, 48, 0.9);
    display: flex;
    justify-content: center;
}

.image-Slide {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    margin-bottom: 100px;
    background-image: url(./Image/TV/Tv-slid.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.image-Slide img {
    width: 100%;
    height: 800px;
}

.Articels-Slide {
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    border-radius: 100%;
    animation: 1.2s dropid;
    width: 100%;
}

.Articelcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-articels {
    color: #fff;
    text-decoration: underline;
    font-size: 30px;
}

.button-articels {
    margin-top: 50px;
}


.button-articels button {
    position: relative;
    width: 200px;
    padding: 10px;
    color: black;
    font-size: 25px;
    font-family: BYekanBold;
    border-radius: 10px;
    border: none;
    overflow: hidden;
}

.button-articels button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 380px;
    background-color: white;
    opacity: 0;
    border-radius: 50%;
    transition: all 1.5s cubic-bezier(0.23, 1, 0.320, 1);

}


.button-articels button:hover {
    opacity: 1;
    background: none;
}

.button-articels button:hover a {
    color: white;
    transition: all 3s;
    background-color: none;
}

.button-articels button:hover span {
    opacity: 1;
    width: 0;
    height: 0;
}

.text-articels {
    color: #fff;
    font-size: 30px;
}

.text-articels p {
    margin-top: 50px;
}

.text-articels p span {
    display: flex;
    justify-content: center;
}

/*/////////////TV box///////////////*/



.section {
    display: flex;
}

.Home-BestSeller {
    display: flex;
    min-width: 100px;
    width: 70%;
    margin-top: 50px;
    padding: 7px;
    padding-right: 0;
    flex-direction: column;

}

.title-BestSeller {
    margin-bottom: 20px;
}

.Tvbox-BestSeller {
    width: fit-content;
    display: flex;
}

.Tv {
    margin-right: 20px;
    height: 280px;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 15px;
    box-shadow: 0 0 5px 0.5px;
}

.Tvbox-BestSeller a:first-child {
    margin-right: 5px;
}

.image-Tvbox {
    border: 1px solid black;
    box-shadow: 0 0 2px 0.5px;
}

.image-Tvbox img {
    width: 170px;
    height: 150px;
}

.title-Tvbox {
    margin-top: 10px;
    width: 190px;
    font-size: 17px;
}

.scecion2-BestSeller {
    margin-top: 20px;
}

.accessorybox-BestSeller {
    width: fit-content;
    display: flex;
}

.accessory {
    position: relative;
    height: 300px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 15px;
    box-shadow: 0 0 5px 0.5px;
}

.accessorybox-BestSeller a:first-child {
    margin-right: 5px;
}

.image-accessorybox {
    border: 1px solid black;
    box-shadow: 0 0 2px 0.5px;
}

.image-accessorybox img {
    width: 170px;
    height: 170px;
}

.title-accessorybox {
    margin-top: 10px;
    width: 190px;
    font-size: 17px;
}

.articel-sectiontop {
    padding: 5px;
    margin-top: 100px;
}

.articel1-sectiontop,
.articel2-sectiontop {
    width: 250px;
    padding: 7px;
    font-size: 17px;
    box-shadow: 0 0 5px 0.5px rgb(0, 135, 212);
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    height: 170px;
}

.articel2-sectiontop {
    margin-top: 130px;
}

.documentIcon-articel {
    fill: rgb(0, 135, 212);
    width: 50px;
}

/*/////////////Section Middel///////////////*/
.middel-Home {
    margin-top: 100px;
    flex-direction: column;
    padding: 5px;
}

.Howtobuy-Home {
    box-shadow: 0 0 5px 0.5px rgb(0, 135, 212);
    padding: 10px;
    font-size: 18px;
    background: linear-gradient(to right, #3497da, #6dd5fa, #ffffff);
    border-radius: 5px;
}

.Discounts-Home {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #b2fefa, #0ed2f7);
    padding: 10px;
    position: relative;
    justify-content: center;
}

.Discountbox-Home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-Discounts {
    margin-bottom: 20px;
}

.Discount {
    height: 300px;
}

.image-D {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 0 2px 0.5px black;
    padding: 5px;
}

.image-D img {
    width: 150px;
}

.DiscountAc img {
    width: 120px;
}

.text-D {
    position: absolute;
    right: 0px;
    bottom: 105px;
}

.accesorybox-sectionmiddle {
    margin-top: 100px;
}


.accesorybox-sectionmiddle .accessory {
    height: 280px;
    margin-right: 20px;
}

.sectiontop-accesorybox {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-top: 20px;
}

.sectionmiddel-accesorybox {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.articel-sectionmiddel {
    display: flex;
    background: linear-gradient(to right, #67b26f, #4ca2cd);
    height: fit-content;
    margin-top: 80px;
    padding: 20px 10px;
}

.articel1-sectionmiddel,
.articel2-sectionmiddel,
.articel3-sectionmiddel,
.articel4-sectionmiddel {
    width: 220px;
    height: 190px;
    padding: 5px;
    font-size: 17px;
    box-shadow: 0 0 5px 0.5px rgb(0, 135, 212);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

/*/////////////Grouping///////////////*/
.Grouping-Home {
    flex-direction: column;
    padding: 5px;
    margin-top: 100px;
}

.title-Grouping {
    font-size: 22px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.sectiontop-Grouping {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.Group-sectiontop {
    width: 400px;
    height: 355px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0.5px rgb(212, 212, 212);
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Group-sectiontop a:first-child {
    margin-right: 0px;
}

.image-Gruop img {
    width: 350px;
    height: 280px;
    border: 1px solid black;
    box-shadow: 0 0 2px 0.5px;
}

.title-Group {
    margin-top: 20px;
}


.sectionbottom-Grouping {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

.Group-sectionbottom {
    width: 400px;
    height: 420px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0.5px rgb(212, 212, 212);
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Group-sectionbottom a:first-child {
    margin-right: 0px;
}

.image-Gruop-bottom img {
    width: 350px;
    border: 1px solid black;
    box-shadow: 0 0 2px 0.5px;
}

/*/////////////Section Bottom///////////////*/
.bottom-Home {
    margin-top: 100px;
    flex-direction: column;
    padding: 5px 10px;
    overflow: hidden;
}

.title-sectionbottom {
    font-size: 20px;
}

.title-brandspeaker {
    margin-top: 20px;
    margin-bottom: 10px;
}

.brand-speaker {
    margin-top: 20px;
    display: flex;
    transition: all 1s;
    width: 100%;
    position: relative;
    align-items: center;
}

.buttonright-speakerHome {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180, .5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 1s;
}

.brandname-speaker {
    box-shadow: 0 0 5px 0.5px black;
    border: 1px solid black;
    padding: 5px;
    margin-right: 15px;
    width: 180px;
    padding-left: 10px;
}

.image-speaker {
    width: 150px;
    height: 150px;
    padding: 0px 10px;
}

.image-speakerT {
    width: 150px;
    height: 150px;
    padding: 0px 10px;
}

.image-speaker img {
    width: 150px;
    height: 110px;
    margin-top: 20px;
}

.image-speakerT img {
    width: 150px;
}

.buttonleft-speakerHome {
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180, .5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 1s;
}

.title-brandTV {
    margin-top: 30px;
}

.brand-TV {
    margin-top: 40px;
    display: flex;
    transition: all 1s;
    width: 100%;
    position: relative;
    align-items: center;
}

.buttonright-TvHome {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180, .5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 1s;
}

.brandname-TV {
    box-shadow: 0 0 5px 0.5px black;
    border: 1px solid black;
    padding: 5px;
    margin-right: 15px;
    width: 180px;
    padding-left: 10px;
}

.buttonleft-TvHome {
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180, .5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 1s;
}

.image-TV {
    width: 150px;
    height: 150px;
}

.image-TVX {
    width: 150px;
    height: 150px;
}

.image-TV img {
    width: 160px;
    height: 110px;
    margin-top: 20px;
    padding-right: 2px;
}


.image-TVX img {
    width: 160px;
    height: 80px;
    margin-top: 30px;
}

/*/////////////GotopHome///////////////*/
.GotopHome {
    position: fixed;
    display: none;
    background: linear-gradient(to right, rgb(52, 151, 218), rgb(109, 213, 250), rgb(109, 213, 250), rgba(52, 151, 218));
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 40px;
    z-index: 1;
    animation: 1s dropbtn;
}

.ai-chevron-up {
    font-size: 20px;
}


@media screen and (max-width:374px) {
    .Tvbox-BestSeller a:last-child {
        display: none;
    }

    .accessorybox-BestSeller a:last-child {
        display: none;
    }

    .Discountbox-Home a:nth-child(2) {
        display: none;
    }

    .sectiontop-accesorybox a:nth-child(2) {
        display: none;
    }

    .sectionmiddel-accesorybox a:nth-child(2) {
        display: none;
    }

    .Group-sectiontop {
        margin-right: 5px !important;
    }

    .Group-sectionbottom {
        margin-right: 5px !important;
    }

    .Support {
        margin-right: 0px;
    }

    .client-services {
        margin-right: 15px;
        width: 74px;
    }

    .Guide {
        margin-right: 10px;
    }

    .call-us {
        margin-right: 10px;
    }

    .GotopHome {
        width: 20px !important;
        height: 20px !important;
        bottom: 20px !important;
        right: 20px !important;
    }

    .ai-chevron-up {
        font-size: 12px !important;
    }

}

@media screen and (max-width:730px) {
    .PreloaderHome img {
        width: 300px;
        height: 300px;
    }

    .Slide-box {
        height: 350px;
    }

    .Articels-Slide {
        top: 60px;
    }

    .title-articels {
        padding: 10px;
        font-size: 12px;
    }

    .button-articels {
        margin-top: 30px;
    }

    .button-articels button {
        width: 100px;
        padding: 10px;
        font-size: 13px;
        border-radius: 10px;
    }

    .text-articels {
        font-size: 13px;
        padding: 5px;
    }

    .title-BestSeller {
        margin-bottom: 0px;
        margin-right: 20px;
    }

    .Tv {
        width: 105px;
        margin-right: 9px;
        height: 170px;
        margin-top: 10px;
        padding: 5px;
    }

    .image-Tvbox img {
        width: 90px;
        height: 80px;
    }

    .title-Tvbox {
        margin-top: 5px;
        width: 102px;
        font-size: 9px;
    }

    .accessory {
        margin-right: 9px;
        width: 105px;
        height: 170px;
        margin-bottom: 10px;
        padding: 5px;
    }

    .image-accessorybox img {
        width: 90px;
        height: 80px;
    }

    .title-accessorybox {
        margin-top: 5px;
        width: 102px;
        font-size: 9px;
    }

    .articel1-sectiontop,
    .articel2-sectiontop {
        display: none;
    }

    .middel-Home {
        margin-top: 50px;
    }

    .Howtobuy-Home {
        padding: 10px;
        font-size: 11px;
    }

    .Discounts-Home {
        margin-top: 50px;
        padding: 0px;
    }

    .Discountbox-Home {
        flex-wrap: wrap;
        padding-bottom: 15px;
    }

    .Discountbox-Home a:last-child {
        display: none;
    }

    .title-Discounts {
        margin-bottom: 0px;
    }

    .Discount {
        height: 180px;
    }

    .image-D {
        width: 100px;
        height: 90px;
    }

    .image-D img {
        width: 80px;
    }

    .DiscountAc img {
        width: 55px;
    }

    .text-D {
        padding: 0 2px;
        bottom: 65px;
    }

    .title-DiscountTv {
        bottom: 51px;
    }

    .accesorybox-sectionmiddle {
        margin-top: 50px;
    }

    .accesorybox-sectionmiddle .accessory {
        height: 170px;
        margin-right: 10px;
    }

    .image-accessorybox {
        margin-bottom: 5px;
    }

    .sectiontop-accesorybox {
        flex-wrap: wrap;
        margin-top: 0px;
        padding: 10px;
        padding-bottom: 0;
    }

    .sectionmiddel-accesorybox {
        flex-wrap: wrap;
        padding: 10px;
        padding-top: 2;
    }

    .sectiontop-accesorybox a:last-child {
        display: none;
    }

    .sectionmiddel-accesorybox a:last-child {
        display: none;
    }

    .articel1-sectionmiddel,
    .articel2-sectionmiddel,
    .articel3-sectionmiddel,
    .articel4-sectionmiddel {
        width: 100px;
        height: 100px;
        padding: 5px;
        font-size: 9px;
        margin-right: 8px;
    }

    .articel-sectionmiddel svg {
        width: 30px;
    }

    .Grouping-Home {
        margin-top: 50px;
    }


    .title-Grouping {
        font-size: 12px;
        margin-bottom: 0px;
    }

    .sectiontop-Grouping {
        padding: 10px 0;
    }

    .Group-sectiontop {
        width: 150px;
        height: 150px;
        margin-right: 25px
    }

    .image-Gruop img {
        width: 130px;
        height: 110px;
    }

    .sectionbottom-Grouping {
        padding: 10px 0;
    }

    .Group-sectionbottom {
        width: 150px;
        height: 150px;
        margin-right: 25px;
    }

    .image-Gruop-bottom img {
        width: 130px;
        height: 110px;
    }

    .title-Group {
        font-size: 10px;
        margin-top: 5px;
    }

    .bottom-Home {
        margin-top: 50p;
    }

    .title-sectionbottom {
        font-size: 12px;
    }

    .title-brandspeaker {
        margin-top: 20px;
    }

    .brand-speaker {
        margin-top: 0;
        flex-wrap: wrap;
    }

    .buttonright-speakerHome {
        display: none;
    }

    .brandname-speaker {
        margin-top: 10px;
        width: fit-content;
    }

    .image-speaker {
        width: 80px;
        height: 80px;
        padding: 0px;
    }

    .image-speakerT {
        width: 80px;
        height: 80px;
        padding: 0px;
    }

    .image-speaker img {
        width: 80px;
        height: 80px;
        margin-top: 0px;
    }

    .image-speakerT img {
        width: 80px;
        height: 80px;
        margin-top: 0px;
    }

    .buttonleft-speakerHome {
        display: none;
    }


    .title-brandTV {
        margin-top: 30px;
    }

    .brand-TV {
        margin-top: 0;
        flex-wrap: wrap;
    }

    .buttonright-TvHome {
        display: none;

    }

    .brandname-TV {
        margin-top: 10px;
        width: fit-content;
    }

    .image-TV {
        width: 80px;
        height: 80px;
        padding: 0px;
    }

    .image-TVX {
        width: 80px;
        height: 80px;
        padding: 0px;
    }

    .image-TV img {
        width: 80px;
        height: 80px;
        margin-top: 0px;
    }

    .image-TVX img {
        width: 80px;
        height: 45px;
        margin-top: 15px;
    }

    .buttonleft-TvHome {
        display: none;
    }

    .GotopHome {
        width: 30px;
        height: 30px;
        bottom: 10px;
        right: 10px;
    }

    .ai-chevron-up {
        font-size: 15px;
    }

}

@media screen and (min-width: 731px) and (max-width: 1023px) {
    .PreloaderHome img {
        width: 300px;
        height: 300px;
    }

    .Slide-box {
        height: 350px;
    }

    .Articels-Slide {
        top: 60px;
    }

    .title-articels {
        padding: 10px;
        font-size: 18px;
    }

    .button-articels {
        margin-top: 30px;
    }

    .button-articels button {
        width: 120px;
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;
    }

    .text-articels {
        font-size: 18px;
        padding: 5px;
    }

    .title-BestSeller {
        margin-right: 20px;
    }

    .Tv {
        width: 140px;
        margin-right: 9px;
        height: 210px;
        margin-top: 10px;
        padding: 5px;
    }

    .image-Tvbox img {
        width: 120px;
        height: 110px;
    }

    .title-Tvbox {
        margin-top: 5px;
        width: 130px;
        font-size: 11px;
    }

    .accessory {
        margin-right: 9px;
        width: 140px;
        height: 210px;
        margin-bottom: 10px;
        padding: 5px;
    }

    .image-accessorybox img {
        width: 120px;
        height: 110px;
    }

    .title-accessorybox {
        margin-top: 5px;
        width: 130px;
        font-size: 11px;
    }

    .articel1-sectiontop,
    .articel2-sectiontop {
        margin-right: 10px;
        width: 160px;
        font-size: 14px;
        height: 150px;
    }

    .articel2-sectiontop {
        margin-top: 80px;
    }

    .middel-Home {
        margin-top: 80px;
    }

    .Howtobuy-Home {
        padding: 10px;
        font-size: 14px;
    }

    .Discounts-Home {
        margin-top: 80px;
        padding: 0px;
    }

    .Discountbox-Home {
        flex-wrap: wrap;
        padding-bottom: 15px;
    }

    .title-Discounts {
        margin-right: 20px;
    }

    .Discount {
        height: 210px;
    }

    .image-D {
        width: 120px;
        height: 110px;
    }

    .image-D img {
        width: 100px;
    }

    .DiscountAc img {
        width: 75px;
    }

    .text-D {
        padding: 0 2px;
        bottom: 65px;
    }

    .title-DiscountTv {
        bottom: 51px;
    }

    .accesorybox-sectionmiddle {
        margin-top: 80px;
    }

    .accesorybox-sectionmiddle .accessory {
        height: 210px;
        margin-right: 10px;
    }

    .image-accessorybox {
        margin-bottom: 5px;
    }

    .sectiontop-accesorybox {
        flex-wrap: wrap;
        padding: 10px;
        padding-bottom: 0;
    }

    .sectionmiddel-accesorybox {
        flex-wrap: wrap;
        padding: 10px;
        padding-top: 2;
    }

    .articel-sectionmiddel {
        justify-content: center;
    }

    .articel1-sectionmiddel,
    .articel2-sectionmiddel,
    .articel3-sectionmiddel,
    .articel4-sectionmiddel {
        width: 130px;
        height: 130px;
        padding: 5px;
        font-size: 12px;
        margin-right: 13px;
    }

    .articel-sectionmiddel svg {
        width: 40px;
    }

    .Grouping-Home {
        margin-top: 80px;
    }


    .title-Grouping {
        font-size: 15px;
    }

    .sectiontop-Grouping {
        padding: 10px 0;
        justify-content: center;
    }

    .Group-sectiontop {
        width: 270px;
        height: 270px;
        margin-right: 25px;
    }

    .image-Gruop img {
        width: 250px;
        height: 220px;
    }

    .sectionbottom-Grouping {
        padding: 10px 0;
        justify-content: center;
    }

    .Group-sectionbottom {
        width: 270px;
        height: 270px;
        margin-right: 25px;
    }

    .image-Gruop-bottom img {
        width: 250px;
        height: 220px;
    }

    .title-Group {
        font-size: 15px;
        margin-top: 8px;

    }

    .bottom-Home {
        margin-top: 80px;
    }

    .title-sectionbottom {
        font-size: 16px;
    }

    .title-brandspeaker {
        margin-top: 20px;
    }

    .brand-speaker {
        margin-top: 0;
        flex-wrap: wrap;
    }

    .buttonright-speakerHome {
        display: none;
    }

    .brandname-speaker {
        margin-top: 10px;
        width: fit-content;
    }

    .image-speaker {
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .image-speakerT {
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .image-speaker img {
        width: 120px;
        height: 120px;
        margin-top: 0px;
    }

    .image-speakerT img {
        width: 120px;
        height: 120px;
        margin-top: 0px;
    }

    .buttonleft-speakerHome {
        display: none;
    }


    .title-brandTV {
        margin-top: 30px;
    }

    .brand-TV {
        margin-top: 0;
        flex-wrap: wrap;
    }

    .buttonright-TvHome {
        display: none;

    }

    .brandname-TV {
        margin-top: 10px;
        width: fit-content;
    }

    .image-TV {
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .image-TVX {
        width: 120px;
        height: 120px;
        padding: 0px;
    }

    .image-TV img {
        width: 120px;
        height: 120px;
        margin-top: 0px;
    }

    .image-TVX img {
        width: 120px;
        height: 65px;
        margin-top: 25px;
    }

    .buttonleft-TvHome {
        display: none;
    }

    .GotopHome {
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
    }

    .ai-chevron-up {
        font-size: 15px;
    }

}

@media screen and (min-width:1350px) and (max-width: 1440px) {
    .PreloaderHome img {
        width: 500px;
        height: 500px;
    }

    .Tv {
        width: 250px;
        height: 300px;
    }

    .image-Tvbox img {
        width: 220px;
        height: 170px;
    }

    .accessory {
        width: 250px;
        height: 300px;
    }

    .image-accessorybox img {
        margin-right: 10px;
        width: 200px;
        height: 170px;
    }

    .articel-sectiontop {
        margin-top: 150px;
    }

    .articel1-sectiontop,
    .articel2-sectiontop {
        justify-content: center;
        width: 320px;
        height: 200px;
    }

    .text-D {
        bottom: 85px;
    }

    .articel-sectionmiddel {
        justify-content: center;
    }

    .brandname-speaker {
        width: 230px;
    }

    .buttonright-speakerHome {
        width: 50px;
        height: 50px;
    }

    .image-speaker {
        width: 230px;
        height: 230px;
        padding: 0px 5px;
    }

    .image-speakerT {
        width: 230px;
        height: 230px;
        padding: 0px 5px;
    }

    .image-speaker img {
        width: 210px;
        height: 160px;
        margin-top: 30px;
    }

    .image-speakerT img {
        width: 210px;
        margin-top: 10px;
    }

    .buttonleft-speakerHome {
        width: 50px;
        height: 50px;
    }

    .buttonright-TvHome {
        width: 50px;
        height: 50px;
    }

    .brandname-TV {
        width: 220px;
    }

    .image-TV {
        width: 210px;
        height: 210px;
        padding: 0px 5px;
    }

    .image-TVX {
        width: 210px;
        height: 210px;
        padding: 0px 5px;
    }

    .image-TV img {
        width: 190px;
        height: 140px;
        margin-top: 30px;
    }

    .image-TVX img {
        width: 190px;
        margin-top: 60px;
    }

    .buttonleft-TvHome {
        width: 50px;
        height: 50px;
    }

    .GotopHome {
        width: 50px;
        height: 50px;
    }
}