* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    direction: rtl;

}



/*/////////////Default///////////////*/
a {
    text-decoration: none;
    color: black;
}

.modal {
    height: 100%;
    overflow-y: auto;
    direction: ltr;
}



@keyframes sticky {
    0% {
        top: -100px;
    }

}


@font-face {
    font-family: BYekan;
    src: url(./font/BYekan+.ttf);
}

@font-face {
    font-family: BYekanBold;
    src: url(./font/BYekan+\ Bold.ttf);
}


/*/////////////Navigation///////////////*/
.container {
    min-width: 200px;
    width: 100%;
    max-width: 2600px;
    font-family: BYekan;
    font-size: 15px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    direction: rtl;
}

.navigation {
    display: flex;
    min-width: 200px;
    width: 100%;
    max-width: 2600px;
    height: 50px;
    font-size: 20px;
    background: linear-gradient(to right, rgb(52, 151, 218, .4), rgb(109, 213, 250, .4), rgb(255, 255, 255, .7));
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.right {
    display: flex;
    flex: 20px;
}


.right li {
    list-style: none;
}

.right li a {
    color: black;
}

.right li:hover a {
    color: rgb(0, 159, 252);
    transition: color 0.5s;
}

.Home {
    margin-right: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.list-Group li {
    display: flex;
    margin-right: 28px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.list-Group:hover a {
    color: rgb(7, 161, 250);
    transition: color 0.5s;
}

.list-Group:hover svg {
    fill: rgb(7, 161, 250);
    transition: fill 0.5s;
}

.Grouping {
    display: none;
    border: 1px solid rgb(212, 212, 212);
    position: absolute;
    top: 50px;
    right: 70px;
    z-index: 1;
}

.arrow-drop-down {
    fill: black;
    height: 30px;
    cursor: pointer;
}

.Grouping li {
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 5px 15px;
    margin: 0;
    cursor: pointer;
    color: black;
    background-color: #fff;
}

.Grouping li a {
    color: black;
}

.Grouping li:hover {
    color: rgb(2, 110, 172);
    transition: color 0.5s;
}

.articel {
    padding-bottom: 25px;
    padding-top: 25px;
    margin-right: 28px;
}

.About {
    padding-bottom: 25px;
    padding-top: 25px;
    margin-right: 28px;
}

.Account {
    display: flex;
    margin-left: 15px;
}

.Exit a {
    display: none;
    margin-top: -5px;
    margin-left: 7px;
    color: white;
    cursor: pointer;
}

.Exit:hover a {
    color: rgb(7, 161, 250);
    transition: color 0.5s;
}

.Account:hover svg {
    fill: white;
    transition: fill 0.5s;
}

.Icon-Account {
    fill: black;
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
}

/*/////////////main-container///////////////*/
.main-container {
    overflow: hidden;
    direction: rtl;
}

/*/////////////Price///////////////*/

.Discount {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    padding: 20px;
    height: 330px;
    border: 1px solid black;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.Discount .text {
    width: 200px;
    right: 10px;
}

.price {
    font-family: BYekanBold !important;
    position: absolute;
    left: 10px;
    bottom: 30px;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(to right, #b2fefa, #0ed2f7);
}

.Discount-Price {
    text-decoration: line-through;
    position: absolute;
    left: 0;
}



/*/////////////Footer///////////////*/
footer {
    margin-top: 150px;
    background-color: rgb(71, 71, 71);
    font-size: 20px;
    color: #fff;
    padding: 10px;
    padding-top: 30px;
    height: 250px;
    display: flex;
    direction: rtl;
}

.Support {
    margin-right: 70px;
}

.Support p {
    margin-bottom: 10px;
    cursor: pointer;
}

#Support-title {
    color: rgb(111, 202, 255);
    margin-bottom: 5px;
}

.client-services {
    margin-right: 100px;
}

.client-services p {
    margin-bottom: 10px;
    cursor: pointer;
}

#client-title {
    color: rgb(111, 202, 255);
    margin-bottom: 5px;
}

.Guide {
    margin-right: 100px;
}

.Guide p {
    margin-bottom: 10px;
    cursor: pointer;
}

#Guide-title {
    color: rgb(111, 202, 255);
    margin-bottom: 5px;
}

.call-us {
    margin-right: 120px;
}

.call-us p {
    margin-bottom: 10px;
    cursor: pointer;
}

.call-us p:hover {
    color: rgb(111, 202, 255);
    transition: color 0.5s;
}

#call-title {
    color: rgb(111, 202, 255);
    margin-bottom: 5px;
}


/*/////////////Login///////////////*/
.Login {
    display: none;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    position: fixed;
    z-index: 10;
}

.Login form {
    background-color: #fff;
    width: 350px;
    height: 320px;
    box-shadow: 0 0 5px 0.5px rgb(0, 0, 0);
    top: 100px;
    padding: 5px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    animation: drop-L 0.5s;
    align-items: center;
    position: fixed;
}

.title-Login {
    position: absolute;
    right: 150px;
}

.X {
    font-size: 40px;
    width: 10px;
    top: -12;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.span-Login {
    position: absolute;
    top: 60px;
    box-shadow: 0 0 5px 2px rgb(7, 161, 250);
    padding: 20px;
    right: 23;
    width: 300px;
    height: 200px;
}

.Username label {
    position: absolute;
    right: 5px;
}

.Login-text {
    border: 2px solid rgb(0, 135, 212);
    padding: 5px;
    border-radius: 5px;
    right: 90px;
    position: absolute;
    font-size: 15px;
    font-family: BYekan;
}

.Login-text:focus {
    outline: none;
    border: 2px solid rgb(161, 161, 161);
    box-shadow: 0 0 5px 2px rgb(7, 161, 250);
    transition: border 0.5s, box-shadow 0.5s;
}

.Password {
    position: absolute;
    top: 75px;
}

.Login-Password {
    position: absolute;
}

.Login-Password input {
    border: 2px solid rgb(0, 135, 212);
    padding: 5px;
    border-radius: 5px;
    right: 8px;
    position: absolute;
    font-size: 15px;
    font-family: BYekan;
}

.Login-Password input:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgb(7, 161, 250);
    border: 2px solid rgb(161, 161, 161);
    transition: border 0.5s, box-shadow 0.5s;
}

.visibility {
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 5px;
    padding-left: 5px;
    fill: rgb(107, 107, 107);
}

.unvisibility {
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 5px;
    padding-left: 5px;
    fill: rgb(107, 107, 107);
    display: none;
}

.errorpass {
    right: 13px;
    width: 400px;
    font-size: 17px;
    top: 35px;
    color: red;
    position: absolute;
}

.btn-Login {
    margin-top: 130px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    font-family: BYekan;
    padding-bottom: 4px;
}

.btn-Login:active {
    background-color: black;
    color: white;
    border: 2px solid rgb(0, 135, 212);
    box-shadow: 0 0 7px 1px rgb(7, 161, 250);
    transition: color 0.01s, background-color 0.01s, box-shadow 0.01s;
}

.notAccount {
    margin-top: 270px;
    margin-left: 200px;
}

.notAccount a {
    color: black;
    font-size: 21px;
}

.notAccount a:hover {
    text-decoration: underline;
}

/*/////////////Sign UP///////////////*/
.signup {
    display: none;
    width: 100%;
    justify-content: center;
    font-size: 20px;
}

.signup form {
    background-color: #fff;
    width: 370px;
    height: 420px;
    box-shadow: 0 0 5px 0.5px rgb(0, 0, 0);
    top: 70px;
    padding: 5px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    position: absolute;
    animation: drop-S 0.5s;
    align-items: center;
    position: fixed;

}

.title-signup {
    position: absolute;
    right: 100px;
}

.span-signup {
    position: absolute;
    top: 60px;
    box-shadow: 0 0 5px 2px rgb(7, 161, 250);
    padding: 20px;
    right: 23;
    width: 320px;
    height: 300px;
}

.Email-signup label {
    position: absolute;
    right: 4px;
}

.signup-Email {
    border: 2px solid rgb(0, 135, 212);
    padding: 5px;
    border-radius: 5px;
    right: 110px;
    position: absolute;
    font-size: 15px;
    font-family: BYekan;
}

.signup-Email:focus {
    outline: none;
    border: 2px solid rgb(161, 161, 161);
    box-shadow: 0 0 5px 2px rgb(7, 161, 250);
    transition: border 0.5s, box-shadow 0.5s;
}

.text-signup label {
    position: absolute;
    right: 4px;
    top: 75px;
}

.signup-text {
    border: 2px solid rgb(0, 135, 212);
    padding: 5px;
    border-radius: 5px;
    right: 110px;
    top: 75px;
    position: absolute;
    font-size: 15px;
    font-family: BYekan;
}

.signup-text:focus {
    outline: none;
    border: 2px solid rgb(161, 161, 161);
    box-shadow: 0 0 5px 2px rgb(7, 161, 250);
    transition: border 0.5s, box-shadow 0.5s;
}

.Password-signup {
    position: absolute;
    top: 130px;
}

.Password-signup label {
    margin-right: -17px;
}

.errorpass-signup {
    right: 15px;
    width: 400px;
    font-size: 17px;
    top: 35px;
    color: red;
    position: absolute;
}

.signup-Password {
    position: absolute;
}

.signup-Password svg {
    right: 48px;
}

.signup-Password input {
    font-family: BYekan;
    border: 2px solid rgb(0, 135, 212);
    padding: 5px;
    border-radius: 5px;
    right: 45px;
    position: absolute;
    font-size: 15px;
}

.signup-Password input:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgb(7, 161, 250);
    border: 2px solid rgb(161, 161, 161);
    transition: border 0.5s, box-shadow 0.5s;
}

.RepeatPassword {
    position: absolute;
    top: 185px;
}

.RepeatPassword label {
    margin-right: -17px;
}

.signup-RepeatPassword {
    position: absolute;

}

.signup-RepeatPassword input {
    border: 2px solid rgb(0, 135, 212);
    padding: 5px;
    border-radius: 5px;
    right: 5px;
    position: absolute;
    font-size: 15px;
    font-family: BYekan;
}

.signup-RepeatPassword input:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgb(7, 161, 250);
    border: 2px solid rgb(161, 161, 161);
    transition: border 0.5s, box-shadow 0.5s;
}

.btn-signup {
    margin-top: 230px;
    width: 100%;
    height: 30px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    font-family: BYekan;
}

.btn-signup:active {
    background-color: black;
    color: white;
    border: 2px solid rgb(0, 135, 212);
    box-shadow: 0 0 7px 1px rgb(7, 161, 250);
    transition: color 0.01s, background-color 0.01s, box-shadow 0.01s;
}

.haveAccount {
    margin-top: 370px;
    margin-left: 200px;
}

.haveAccount a {
    color: black;
    font-size: 21px;
}

.haveAccount a:hover {
    text-decoration: underline;
}

@media screen and (max-width:374px) {

    .Support {
        margin-right: 0px !important;
    }

    .client-services {
        margin-right: 10px !important;
        width: 70px !important;
    }

    .Guide {
        margin-right: 8px !important;
    }

    .call-us {
        margin-right: 5px !important;
    }
}

@media screen and (max-width: 730px) {
    .container {
        font-size: 9px;
    }

    .navigation {
        font-size: 10px;
        height: 30px;
    }

    .Grouping {
        top: 28px;
    }

    .arrow-drop-down {
        height: 17px;
    }

    .arrow-drop-dow .Support {
        margin-right: 0px;
    }

    .client-services {
        margin-right: 15px;
        width: 74px;
    }

    .Guide {
        margin-right: 10px;
    }

    .call-us {
        margin-right: 10px;
    }

    n {
        height: 15px;
    }

    .Icon-Account {
        width: 20px;
        height: 20px;
    }


    .Discount {
        margin-top: 10px;
        width: 110px;
        padding: 5px;
        margin-right: 5px;
        height: 180px;

    }

    .Discount .text {
        width: 95px;
        right: 10px;
    }


    .price {
        left: 5px;
        bottom: 20px;
    }

    footer {
        margin-top: 100px;
        padding: 5px;
        padding-top: 10px;
        height: 190px;
        font-size: 12px;
    }

    .Support {
        margin-right: 10px;
    }

    .Support p {
        margin-bottom: 8px;
        font-size: 9px;
    }

    .client-services {
        margin-right: 25px;
        width: 100px;
    }

    .client-services p {
        margin-bottom: 10px;
        width: 80px;
    }

    .Guide {
        margin-right: 20px;
    }

    .Guide p {
        margin-bottom: 10px;
        width: 80px;
    }

    .call-us {
        margin-right: 25px;
    }

    #call-title {
        color: rgb(111, 202, 255);
        margin-bottom: 5px;
        width: 80px;
    }

    .Login {
        font-size: 16.5px;
    }

    .Login form {
        top: 20px;
        width: 300px;
        height: 280px;
    }

    .title-Login {
        right: 140px;
    }

    .X {
        font-size: 25px;
        top: 0;
    }

    .span-Login {
        top: 50px;
        padding: 10px;
        right: 15;
        width: 270px;
        height: 180px;
    }

    .Username label {
        right: 2px;
    }

    .Login-text {
        right: 75px;
        font-size: 15px;
    }

    .Login-Password input {
        right: 13px;
        font-size: 15px;
    }

    .visibility {
        right: 20px;
        top: 5px;
    }

    .unvisibility {
        right: 20px;
        top: 5px;
    }

    .errorpass {
        font-size: 15px;
    }

    .btn-Login {
        width: 80%;
        height: 30px;
        font-size: 17px;
        margin-right: 30px;
    }

    .notAccount {
        margin-top: 230px;
        margin-left: 180px;
    }

    .notAccount a {
        font-size: 17px;
    }



    .signup {
        font-size: 15.5px;
    }

    .signup form {
        top: 15px;
        width: 300px;
        height: 360px;
    }

    .signup form input {
        width: 180px;
    }

    .span-signup {
        top: 40px;
        padding: 10px;
        right: 15;
        width: 270px;
        height: 275px !important;
    }

    .signup-Email {
        right: 87px;
    }

    .text-signup label {
        top: 65px;
    }

    .signup-text {
        right: 87px;
        top: 63px;
        position: absolute;
    }

    .Password-signup {
        top: 120px;
        right: 10px;
    }

    .Password-signup label {
        margin-right: 0px;
    }

    .errorpass-signup {
        font-size: 15px;
    }

    .signup-Password svg {
        right: 34px;
    }

    .signup-Password input {
        right: 28px;
    }

    .RepeatPassword {
        top: 175px;
    }

    .RepeatPassword label {
        margin-right: -7px;
    }

    .RepeatPassword svg {
        right: 12px;
    }

    .btn-signup {
        margin-top: 225px;
        font-size: 17px;
        margin-right: 30px;
    }

    .haveAccount {
        margin-top: 320px;
        margin-left: 190px;
    }

    .haveAccount a {
        font-size: 17px;
    }

}

@media screen and (min-width:731px) and (max-width: 834px) {
    .container {
        font-size: 11px;
    }

    .navigation {
        font-size: 14px;
        height: 40px;
    }

    .Grouping {
        top: 38px !important;
    }

    .arrow-drop-down {
        height: 25px !important;
    }

    .Icon-Account {
        width: 30px !important;
        height: 30px !important;
    }


    .Discount {
        margin-top: 10px;
        width: 140px;
        padding: 10px;
        margin-right: 5px;
        height: 210px;
    }

    .Discount .text {
        width: 130px;
        right: 10px;
    }


    .price {
        left: 5px;
        bottom: 20px;
    }

    footer {
        margin-top: 100px;
        padding: 5px;
        padding-top: 10px;
        height: 210px;
        font-size: 15px;
    }

    .Support {
        margin-right: 40px;
    }

    .Support p {
        margin-bottom: 8px;
    }

    .client-services {
        margin-right: 45px;
        width: 100px !important;
    }

    .client-services p {
        margin-bottom: 10px;
        width: 140px;
    }

    .Guide {
        margin-right: 80px;
    }

    .Guide p {
        margin-bottom: 10px;
        width: 130px;
    }

    .call-us {
        margin-right: 45px;
    }

    #call-title {
        width: 100px;
    }

}

@media screen and (min-width:1350px) and (max-width: 1440px) {

    .container{
        font-size: 13px;
    }
    .Discount {
        height: 300px;
    }

    footer {
        height: 280px;
        font-size: 25px;
    }

    .Support {
        margin-right: 150px;
    }

    .Support p {
        margin-bottom: 8px;
    }

    .client-services {
        margin-right: 105px;
    }

    .client-services p {
        margin-bottom: 10px;
        width: 220px;
    }

    .Guide {
        margin-right: 120px;
    }

    .Guide p {
        margin-bottom: 10px;
        width: 200px;
    }

    .call-us {
        margin-right: 105px;
    }

    #call-title {
        width: 150px;
    }

    .Login {
        font-size: 22px;
    }

    .Login form {
        width: 420px;
        height: 350px;
    }

    .title-Login {
        right: 180px;
    }

    .X {
        font-size: 35px;
        top: 0px;
    }

    .span-Login {
        top: 60px;
        padding: 20px;
        right: 20;
        width: 380px;
        height: 220px;
    }

    .Username label {
        right: 10px;
    }

    .Login-text {
        right: 115px;
        font-size: 15px;
        width: 250px;
    }

    .Login-Password input {
        right: 30px;
        font-size: 15px;
        width: 246px;
    }

    .visibility {
        width: 30px;
        height: 30px;
        right: 40px;
        top: 3px;
    }

    .unvisibility {
        width: 30px;
        height: 30px;
        right: 40px;
        top: 3px;
    }

    .errorpass {
        margin-top: 15px;
        right: 30px;
        font-size: 17px;
    }

    .btn-Login {
        width: 80%;
        height: 30px;
        font-size: 17px;
        margin-right: 30px;
        margin-top: 150px;
    }

    .notAccount {
        margin-top: 290px;
        margin-left: 270px;
    }

    .notAccount a {
        font-size: 20px;
    }



    .signup {
        font-size: 17px;
    }

    .signup form {
        top: 80px;
        width: 420px;
        height: 430px;
    }

    .signup form input {
        width: 270px;
    }

    .title-signup {
        right: 155px;
        top: 10;
    }

    .span-signup {
        top: 60px;
        padding: 10px;
        right: 25;
        width: 370px;
        height: 310px;
    }

    .Email-signup label {
        top: 25px;
    }

    .signup-Email {
        top: 23px;
        right: 95px;
    }

    .text-signup label {
        top: 80px;
    }

    .signup-text {
        right: 95px;
        top: 78px;
        position: absolute;
    }

    .Password-signup {
        top: 132px;
        right: 14px;
    }

    .Password-signup label {
        margin-right: 0px;
    }

    .errorpass-signup {
        right: 10px;
        font-size: 17px;
        margin-top: 5px;
    }

    .signup-Password svg {
        right: 34px;
    }

    .signup-Password input {
        right: 28px;
    }

    .RepeatPassword {
        top: 185px;
    }

    .RepeatPassword label {
        margin-right: -7px;
    }

    .RepeatPassword svg {
        right: 12px;
    }

    .btn-signup {
        margin-top: 250px;
        font-size: 17px;
        margin-right: 30px;
    }

    .haveAccount {
        margin-top: 380px;
        margin-left: 260px;
    }

    .haveAccount a {
        font-size: 20px;
    }

}